* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Roboto Mono", sans-serif;
    /* IE, only works on <img> tags */
    -ms-interpolation-mode: nearest-neighbor;
    /* Firefox */
    image-rendering: crisp-edges;
    /* Chromium + Safari */
    image-rendering: pixelated;
}

.imgheader {
    width: auto;
    margin-left: auto;
    margin-right: auto;
    min-height: 500px;
    max-height: 500px;
    max-width: 1500px;
    width: 100%;
}

#root {
    background-color: #242622;
}

#scene_02 {
    display: grid !important;
}

.tape button {
    max-width: 140px;
    min-height: 100px;
    overflow: hidden;
    margin: 0;
    background-color: #242622;
    border: none;
    text-align: left;
    justify-items: start;
    font-size: 16px;
}


.tape img {
    min-height: 100px !important;
}

    .tape img:hover {
        margin-left: -140px;
        cursor: pointer;
    }


.container {
    font-size: 1rem;
    text-align: center;
    color: #2e879e;
    width: 500px;
    margin: 20px auto;
    transition-duration: 0.3s;
    display: grid;
}


.question {
    text-align: left !important;
    transition-duration: 1s;
    border-bottom: solid 2px #2e879e;
    padding: 10px;
}

.info {
    max-width: 500px;
}

button.btn {
    color: #2e879e;
    background-color: #002d33;
    width: 30px;
    padding: 4px 5px 6px 5px;
    border: hidden;
    align-content: center;
    border-radius: 20px;
    font-size: 20px;
    line-height: 20px;
}

    button.btn:hover {
        cursor: pointer;
        background-color: #2e879e;
        color: #002d33;
        transition: linear ease-in-out 0.4s !important;
    }

    button.btn:focus:not(:focus-visible) {
        outline: 0;
        border: hidden;
        cursor: pointer;
    }

    button.btn:focus-visible {
        outline: 0px solid #2e879e;
        outline-offset: 0px;
    }

header {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: stretch;
    align-items: center;
}

.answer {
    transition-duration: 1s;
}

.container h3 {
    border-bottom: 2px solid #2e879e;
    padding-bottom: 20px;
}

.Fire {
    height: 90px;
    position: absolute;
    bottom: 0;
}
#Fire{min-height:90px;}

@media all and (max-width:500px) {
    .container, .info {
       
        width: 100vw;
        max-width: 100vw;
       
    }
}